@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Movie App</h1>
    <p>Navigate to the <a href="https://localhost:5001/Movies">Movie List</a>.</p>
</div>
